body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 30px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
